// Colores

$verde:#3C5946;
$naranja:#CF6921;
$naranjapalido:#F7D2B7;
$amarillo:#EBA94C;
$rosa:#E8C1C1;
$rosapalido:#F8E7E7;
$rosafuerte:#C97D7D;
$gris:#2B292C;

// Fuentes

$titulo:'Averia Libre', cursive;
$copy:'Raleway', sans-serif;
$destacado:'Antic', sans-serif;
