// Imports

@import "colores-y-fuentes";


// Reseteo

* {
    margin:0;
    padding:0;
    line-height:1.2;
}

// Estilos de fuente

h1 {
    font-family:$titulo;
}

h2 {
    font-family:$titulo;
}

h3 {
    font-family:$titulo;
}

p {
    font-family:$copy;
}

// Box Modelling + Fondos

h1, h2, h3, p {
    margin: 20px;
}

// Superposición de imágenes

.index_branding {

    &__foto {
        position:relative;
        display:block;
        float:left;
    }

    &__contenido {
        position:absolute;
    }
}

// Grids

// Home

@media (max-width:480px) {


}

@media (min-width:481px) {

    .index_body {
        display:grid;
        grid-template-areas:
        "sticky-top"
        "index_branding"
        "index_about_quienSoy"
        "index_about_pilares"
        "index_about_proposito"
        "index_ultimosPosts"
        "footer";
        grid-template-columns:100%;
    }

    .sticky-top {
        grid-area:sticky-top;
    }

    .index_branding {
        grid-area:index_branding;
    }

    .index_about_quienSoy {
        grid-area:index_about_quienSoy;
        display:grid;
        grid-template-areas:
        "index_about_quienSoy__titulo"
        "index_about_quienSoy__copy"
        "index_about_quienSoy__imagen";
        grid-template-columns:100%;

        &__titulo {
            grid-area:index_about_quienSoy__titulo;
        }

        &__copy {
            grid-area:index_about_quienSoy__copy;
        }

        &__imagen {
            grid-area:index_about_quienSoy__imagen;
        }
    }

    .index_about_pilares {
        grid-area:index_about_pilares;
        display:grid;
        grid-template-areas:
        "index_about_pilares__grafico index_about_pilares__titulo"
        "index_about_pilares__grafico index_about_pilares__copy";
        grid-template-columns:30% 70%;
        grid-template-rows:20% 80%;
                
        &__titulo {
            grid-area:index_about_pilares__titulo;
        }

        &__copy {
            grid-area:index_about_pilares__copy;
        }

        &__grafico {
            grid-area:index_about_pilares__grafico;
        }
    }

    .index_about_proposito {
        grid-area:index_about_proposito;
        grid-area:index_about_pilares;
        display:grid;
        grid-template-areas:
        "index_about_proposito__imagen index_about_proposito__imagen"
        "index_about_proposito__titulo index_about_proposito__titulo"
        "index_about_proposito__copy index_about_proposito__copy"
        "none index_about_proposito__ilustracion";
        grid-template-columns:70% 30%;

        &__titulo {
            grid-area:index_about_proposito__titulo;
        }

        &__copy {
            grid-area:index_about_proposito__copy;
        }

        &__imagen {
            grid-area:index_about_proposito__imagen;
        }

        &__ilustracion {
            grid-area:index_about_proposito__ilustracion;
        }
    }

    .index_ultimosPosts {
        grid-area:index_ultimosPosts;
    }

    .footer {
        grid-area:footer;
    }
}