* {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

@media (max-width: 480px) {
  .margen-ancho-costados {
    margin: 20px 30px 20px 30px; } }

@media (min-width: 481px) {
  .margen-ancho-costados {
    margin: 20px 120px 20px 120px; } }

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold; }

.margen40 {
  margin: 40px; }

.margen20 {
  margin: 20px; }

.margen10 {
  margin: 10px 20px 10px 20px; }

.margen5 {
  margin: 5px; }

.padding20 {
  padding: 20px 0px 20px 0px; }

.supertitulo_verde {
  font-family: "Averia Libre", cursive;
  font-size: 3em;
  color: #3C5946;
  text-align: center;
  line-height: 1; }

.titulo_gris {
  font-family: "Averia Libre", cursive;
  font-size: 2.5em;
  color: #2B292C; }

.titulo_verde {
  font-family: "Averia Libre", cursive;
  font-size: 2.5em;
  color: #3C5946; }

.titulo_naranja {
  font-family: "Averia Libre", cursive;
  font-size: 2.5em;
  color: #CF6921; }

.titulo_rosa {
  font-family: "Averia Libre", cursive;
  font-size: 2.5em;
  color: #C97D7D; }

.titulo_naranjapalido {
  font-family: "Averia Libre", cursive;
  font-size: 2.5em;
  color: #F7D2B7;
  text-align: center; }

.titulo_rosapalido {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  color: #F8E7E7; }

.subtitulo_gris {
  font-family: "Averia Libre", cursive;
  font-size: 2em;
  color: #2B292C;
  text-align: center; }

.subtitulo_verde {
  font-family: "Averia Libre", cursive;
  font-size: 2em;
  color: #3C5946;
  text-align: center; }

.subtitulo_numero {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: #2B292C; }

.numero {
  font-family: "Averia Libre", cursive;
  font-size: 4em;
  color: #3C5946; }

.copy_cabeceras {
  font-family: "Antic", sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center; }

.bajada_contacto {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #fff; }

.copy_cuerpo {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #2B292C; }

.copy_cuerpo_blanco {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #fff; }

.copy_cuerpo_blanco_centrado {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center; }

.copy_cuerpo_naranja {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #F7D2B7;
  text-align: center; }

.fuente_destacado {
  font-family: "Antic", sans-serif;
  font-size: 1.2em;
  color: #2B292C; }

.link_naranja {
  text-decoration: none;
  color: #F7D2B7; }

.link_naranja:hover {
  color: #fff; }

.link_gris {
  text-decoration: none;
  color: #2B292C; }

.link_gris:hover {
  color: #CF6921; }

label {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #F7D2B7; }

.item_menu {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: #2B292C;
  text-decoration: none; }

.item_menu:hover {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: #CF6921;
  text-decoration: none; }

.fondo_rosapalido {
  background-color: #F8E7E7; }

.fondo_naranjapalido {
  background-color: #F7D2B7; }

.fondo_naranja {
  background-color: #CF6921; }

.fondo_verde {
  background-color: #3C5946; }

.button_verde {
  background-color: #3C5946;
  color: #F8E7E7;
  border-radius: 5px;
  font-family: "Averia Libre", cursive;
  font-size: 1.5em;
  text-decoration: none;
  padding: 3px 12px 3px 12px; }

.button_verde:hover {
  color: #fff; }

@media (max-width: 480px) {
  .button_verde {
    background-color: #3C5946;
    color: #F8E7E7;
    border-radius: 5px;
    font-family: "Averia Libre", cursive;
    font-size: 1em;
    text-decoration: none;
    padding: 3px 12px 3px 12px; }
  .button_verde:hover {
    color: #fff; }
  .subtitulo_numero {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    color: #2B292C; } }

.button_amarillo {
  background-color: #EBA94C;
  color: #3C5946;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px 3px 12px; }

.button_amarillo:hover {
  color: #fff; }

.button_blanco {
  background-color: #fff;
  color: #3C5946;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px 3px 12px; }

.button_blanco:hover {
  color: #CF6921; }

.navbar-toggler:focus {
  color: transparent; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.index_branding__foto {
  position: relative;
  display: block;
  float: left; }

.index_branding__contenido {
  position: absolute; }

.servicios_inicio__foto {
  position: relative;
  display: block;
  float: left; }

.servicios_inicio__contenido {
  position: absolute; }

.contacto_main__foto {
  position: relative;
  display: block;
  float: left; }

.contacto_main__contenido {
  position: absolute; }

.recursos_main__foto {
  position: relative;
  display: block;
  float: left; }

.recursos_main__contenido {
  position: absolute; }

.blog_main__foto {
  position: relative;
  display: block;
  float: left; }

.blog_main__contenido {
  position: absolute; }

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

@media (max-width: 480px) {
  .index_body {
    display: grid;
    grid-template-areas: "navegacion" "index_branding" "index_about_quienSoy" "index_about_pilares" "index_about_proposito" "index_ultimosPosts" "footer";
    grid-template-columns: 100%; }
  .navegacion {
    grid-area: navegacion; }
  .index_branding {
    grid-area: index_branding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .index_branding__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
  .index_about_quienSoy {
    grid-area: index_about_quienSoy;
    display: grid;
    grid-template-areas: "index_about_quienSoy__imagen" "index_about_quienSoy__titulo" "index_about_quienSoy__copy";
    grid-template-columns: 100%; }
    .index_about_quienSoy__titulo {
      grid-area: index_about_quienSoy__titulo; }
    .index_about_quienSoy__copy {
      grid-area: index_about_quienSoy__copy; }
    .index_about_quienSoy__imagen {
      grid-area: index_about_quienSoy__imagen;
      margin: 40px 0px 20px 20px; }
  .index_about_pilares {
    grid-area: index_about_pilares;
    display: grid;
    grid-template-areas: "index_about_pilares__titulo index_about_pilares__titulo" "index_about_pilares__copy index_about_pilares__copy";
    grid-template-columns: 40% 60%; }
    .index_about_pilares__titulo {
      grid-area: index_about_pilares__titulo; }
    .index_about_pilares__copy {
      grid-area: index_about_pilares__copy;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .index_about_pilares__grafico {
      display: none; }
  .index_about_proposito {
    grid-area: index_about_proposito;
    display: grid;
    grid-template-areas: "index_about_proposito__imagen index_about_proposito__imagen" "index_about_proposito__titulo index_about_proposito__titulo" "index_about_proposito__copy index_about_proposito__copy" "none index_about_proposito__ilustracion";
    grid-template-columns: 60% 40%; }
    .index_about_proposito__titulo {
      grid-area: index_about_proposito__titulo; }
    .index_about_proposito__copy {
      grid-area: index_about_proposito__copy; }
    .index_about_proposito__imagen {
      grid-area: index_about_proposito__imagen; }
    .index_about_proposito__ilustracion {
      grid-area: index_about_proposito__ilustracion; }
  .index_ultimosPosts {
    grid-area: index_ultimosPosts; }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer__newsletter" "footer__datos";
    grid-template-columns: 100%; }
    .footer__newsletter {
      grid-area: footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .footer__datos {
      grid-area: footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .footer__datos--logo {
        width: 30%; }
      .footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .index_body {
    display: grid;
    grid-template-areas: "navegacion" "index_branding" "index_about_quienSoy" "index_about_pilares" "index_about_proposito" "index_ultimosPosts" "footer";
    grid-template-columns: 100%; }
  .navegacion {
    grid-area: navegacion; }
  .index_branding {
    grid-area: index_branding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .index_branding__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin-top: -50px; }
  .index_about_quienSoy {
    grid-area: index_about_quienSoy;
    display: grid;
    grid-template-areas: "index_about_quienSoy__titulo" "index_about_quienSoy__copy" "index_about_quienSoy__imagen";
    grid-template-columns: 100%; }
    .index_about_quienSoy__titulo {
      grid-area: index_about_quienSoy__titulo; }
    .index_about_quienSoy__copy {
      grid-area: index_about_quienSoy__copy; }
    .index_about_quienSoy__imagen {
      grid-area: index_about_quienSoy__imagen;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end; }
  .index_about_pilares {
    grid-area: index_about_pilares;
    display: grid;
    grid-template-areas: "index_about_pilares__grafico index_about_pilares__titulo" "index_about_pilares__grafico index_about_pilares__copy";
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%; }
    .index_about_pilares__titulo {
      grid-area: index_about_pilares__titulo; }
    .index_about_pilares__copy {
      grid-area: index_about_pilares__copy; }
    .index_about_pilares__grafico {
      grid-area: index_about_pilares__grafico; }
  .index_about_proposito {
    grid-area: index_about_proposito;
    display: grid;
    grid-template-areas: "index_about_proposito__imagen index_about_proposito__imagen" "index_about_proposito__titulo index_about_proposito__titulo" "index_about_proposito__copy index_about_proposito__copy" "none index_about_proposito__ilustracion";
    grid-template-columns: 70% 30%; }
    .index_about_proposito__titulo {
      grid-area: index_about_proposito__titulo; }
    .index_about_proposito__copy {
      grid-area: index_about_proposito__copy; }
    .index_about_proposito__imagen {
      grid-area: index_about_proposito__imagen; }
    .index_about_proposito__ilustracion {
      grid-area: index_about_proposito__ilustracion; }
  .index_ultimosPosts {
    grid-area: index_ultimosPosts; }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer__newsletter" "footer__datos";
    grid-template-columns: 100%; }
    .footer__newsletter {
      grid-area: footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .footer__datos {
      grid-area: footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .servicios_body {
    display: grid;
    grid-template-areas: "servicios_navegacion" "servicios_inicio" "servicios_bajada" "servicios_agenda" "servicios_bases" "servicios_redes" "servicios_footer";
    grid-template-columns: 100%; }
  .servicios_navegacion {
    grid-area: servicios_navegacion; }
  .servicios_inicio {
    grid-area: servicios_inicio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .servicios_inicio__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
  .servicios_bajada {
    grid-area: servicios_bajada; }
  .servicios_agenda {
    grid-area: servicios_agenda;
    display: grid;
    grid-template-areas: "servicios_agenda__foto" "servicios_agenda__titulo" "servicios_agenda__copy";
    grid-template-columns: 100%; }
    .servicios_agenda__foto {
      grid-area: servicios_agenda__foto; }
    .servicios_agenda__titulo {
      grid-area: servicios_agenda__titulo; }
    .servicios_agenda__copy {
      grid-area: servicios_agenda__copy;
      display: grid;
      grid-template-areas: "servicios_agenda__copy--uno" "servicios_agenda__copy--dos" "servicios_agenda__copy--tres";
      grid-template-columns: 100%; }
      .servicios_agenda__copy--uno {
        grid-area: servicios_agenda__copy--uno; }
      .servicios_agenda__copy--dos {
        grid-area: servicios_agenda__copy--dos; }
      .servicios_agenda__copy--tres {
        grid-area: servicios_agenda__copy--tres; }
  .servicios_bases {
    grid-area: servicios_bases;
    display: grid;
    grid-template-areas: "servicios_bases__titulo" "servicios_bases__copy" "servicios_bases__pasos" "servicios_bases__perfecta" "servicios_bases__incluye" "servicios_bases__boton";
    grid-template-columns: 100%; }
    .servicios_bases__titulo {
      grid-area: servicios_servicios_bases__titulo; }
    .servicios_bases__copy {
      grid-area: servicios_bases__copy; }
    .servicios_bases__pasos {
      grid-area: servicios_bases__pasos; }
    .servicios_bases__perfecta {
      grid-area: servicios_bases__perfecta; }
    .servicios_bases__incluye {
      grid-area: servicios_bases__incluye; }
    .servicios_bases__boton {
      grid-area: servicios_bases__boton; }
  .servicios_redes {
    grid-area: servicios_redes;
    display: grid;
    grid-template-areas: "servicios_redes__titulo" "servicios_redes__copy" "servicios_redes__pasos" "servicios_redes__perfecta" "servicios_redes__incluye" "servicios_redes__boton";
    grid-template-columns: 100%; }
    .servicios_redes__titulo {
      grid-area: servicios_servicios_redes__titulo; }
    .servicios_redes__copy {
      grid-area: servicios_redes__copy; }
    .servicios_redes__pasos {
      grid-area: servicios_redes__pasos; }
    .servicios_redes__perfecta {
      grid-area: servicios_redes__perfecta; }
    .servicios_redes__incluye {
      grid-area: servicios_redes__incluye; }
    .servicios_redes__boton {
      grid-area: servicios_redes__boton; }
  .servicios_footer {
    grid-area: servicios_footer;
    display: grid;
    grid-template-areas: "servicios_footer__newsletter" "servicios_footer__datos";
    grid-template-columns: 100%; }
    .servicios_footer__newsletter {
      grid-area: servicios_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .servicios_footer__datos {
      grid-area: servicios_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .servicios_footer__datos--logo {
        width: 30%; }
      .servicios_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .servicios_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .servicios_body {
    display: grid;
    grid-template-areas: "servicios_navegacion" "servicios_inicio" "servicios_bajada" "servicios_agenda" "servicios_bases" "servicios_redes" "servicios_footer";
    grid-template-columns: 100%; }
  .servicios_navegacion {
    grid-area: servicios_navegacion; }
  .servicios_inicio {
    grid-area: servicios_inicio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -200px; }
    .servicios_inicio__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      .servicios_inicio__contenido .copy_cabeceras {
        margin: 0 500px 0 500px; }
  .servicios_bajada {
    grid-area: servicios_bajada; }
  .servicios_agenda {
    grid-area: servicios_agenda;
    display: grid;
    grid-template-areas: "servicios_agenda__foto" "servicios_agenda__titulo" "servicios_agenda__copy";
    grid-template-columns: 100%; }
    .servicios_agenda__foto {
      grid-area: servicios_agenda__foto; }
    .servicios_agenda__titulo {
      grid-area: servicios_agenda__titulo; }
    .servicios_agenda__copy {
      grid-area: servicios_agenda__copy;
      display: grid;
      grid-template-areas: "servicios_agenda__copy--uno servicios_agenda__copy--dos servicios_agenda__copy--tres";
      grid-template-columns: 1fr 1fr 1fr; }
      .servicios_agenda__copy--uno {
        grid-area: servicios_agenda__copy--uno; }
      .servicios_agenda__copy--dos {
        grid-area: servicios_agenda__copy--dos; }
      .servicios_agenda__copy--tres {
        grid-area: servicios_agenda__copy--tres; }
  .servicios_bases {
    grid-area: servicios_bases;
    display: grid;
    grid-template-areas: "servicios_bases__titulo servicios_bases__copy" "servicios_bases__pasos servicios_bases__pasos" "servicios_bases__perfecta servicios_bases__perfecta" "servicios_bases__incluye servicios_bases__boton";
    grid-template-columns: 60% 40%; }
    .servicios_bases__titulo {
      grid-area: servicios_servicios_bases__titulo; }
    .servicios_bases__copy {
      grid-area: servicios_bases__copy; }
    .servicios_bases__pasos {
      grid-area: servicios_bases__pasos; }
    .servicios_bases__perfecta {
      grid-area: servicios_bases__perfecta; }
    .servicios_bases__incluye {
      grid-area: servicios_bases__incluye; }
    .servicios_bases__boton {
      grid-area: servicios_bases__boton; }
  .servicios_redes {
    grid-area: servicios_redes;
    display: grid;
    grid-template-areas: "servicios_redes__copy servicios_redes__titulo" "servicios_redes__pasos servicios_redes__pasos" "servicios_redes__perfecta servicios_redes__perfecta" "servicios_redes__incluye servicios_redes__boton";
    grid-template-columns: 40% 60%; }
    .servicios_redes__titulo {
      grid-area: servicios_servicios_redes__titulo; }
    .servicios_redes__copy {
      grid-area: servicios_redes__copy; }
    .servicios_redes__pasos {
      grid-area: servicios_redes__pasos; }
    .servicios_redes__perfecta {
      grid-area: servicios_redes__perfecta; }
    .servicios_redes__incluye {
      grid-area: servicios_redes__incluye; }
    .servicios_redes__boton {
      grid-area: servicios_redes__boton; }
  .servicios_footer {
    grid-area: servicios_footer;
    display: grid;
    grid-template-areas: "servicios_footer__newsletter" "servicios_footer__datos";
    grid-template-columns: 100%; }
    .servicios_footer__newsletter {
      grid-area: servicios_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .servicios_footer__datos {
      grid-area: servicios_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .servicios_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .contacto_body {
    display: grid;
    grid-template-areas: "contacto_navegacion" "contacto_main" "contacto_formulario" "contacto_footer";
    grid-template-columns: 100%; }
  .contacto_navegacion {
    grid-area: contacto_navegacion; }
  .contacto_main {
    grid-area: contacto_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .contacto_main__contenido {
      display: grid;
      grid-template-areas: "contacto_main__contenido--titulo" "contacto_main__contenido--copy"; }
      .contacto_main__contenido--titulo {
        grid-area: contacto_main__contenido--titulo; }
      .contacto_main__contenido--copy {
        grid-area: contacto_main__contenido--copy; }
        .contacto_main__contenido--copy p {
          font-size: 1.3rem; }
      .contacto_main__contenido--ilustracion {
        display: none; }
  .contacto_formulario {
    grid-area: contacto_formulario; }
  .contacto_footer {
    grid-area: contacto_footer;
    display: grid;
    grid-template-areas: "contacto_footer__newsletter" "contacto_footer__datos";
    grid-template-columns: 100%; }
    .contacto_footer__newsletter {
      grid-area: contacto_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .contacto_footer__datos {
      grid-area: contacto_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .contacto_footer__datos--logo {
        width: 30%; }
      .contacto_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .contacto_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .contacto_body {
    display: grid;
    grid-template-areas: "contacto_navegacion" "contacto_main" "contacto_formulario" "contacto_footer";
    grid-template-columns: 100%; }
  .contacto_navegacion {
    grid-area: contacto_navegacion; }
  .contacto_main {
    grid-area: contacto_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -200px; }
    .contacto_main__contenido {
      display: grid;
      grid-template-areas: "contacto_main__contenido--titulo contacto_main__contenido--titulo contacto_main__contenido--titulo contacto_main__contenido--titulo" ". contacto_main__contenido--ilustracion contacto_main__contenido--copy .";
      grid-template-columns: 15% 15% 60% 10%;
      grid-template-rows: 40% 60%; }
      .contacto_main__contenido--titulo {
        grid-area: contacto_main__contenido--titulo; }
      .contacto_main__contenido--copy {
        grid-area: contacto_main__contenido--copy;
        justify-self: center;
        align-self: center; }
      .contacto_main__contenido--ilustracion {
        grid-area: contacto_main__contenido--ilustracion;
        justify-self: center;
        align-self: center; }
  .contacto_formulario {
    grid-area: contacto_formulario; }
  .contacto_footer {
    grid-area: contacto_footer;
    display: grid;
    grid-template-areas: "contacto_footer__newsletter" "contacto_footer__datos";
    grid-template-columns: 100%; }
    .contacto_footer__newsletter {
      grid-area: contacto_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .contacto_footer__datos {
      grid-area: contacto_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .contacto_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .recursos_body {
    display: grid;
    grid-template-areas: "recursos_navegacion" "recursos_main" "recursos_bajada" "recursos_footer";
    grid-template-columns: 100%; }
  .recursos_navegacion {
    grid-area: recursos_navegacion; }
  .recursos_main {
    grid-area: recursos_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .recursos_main__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
  .recursos_bajada {
    grid-area: recursos_bajada;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .recursos_footer {
    grid-area: recursos_footer; }
    .recursos_footer__datos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .recursos_footer__datos--logo {
        width: 30%; }
      .recursos_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .recursos_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .recursos_body {
    display: grid;
    grid-template-areas: "recursos_navegacion" "recursos_main" "recursos_bajada" "recursos_footer";
    grid-template-columns: 100%; }
  .recursos_navegacion {
    grid-area: recursos_navegacion; }
  .recursos_main {
    grid-area: recursos_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -200px; }
    .recursos_main__contenido {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
      .recursos_main__contenido .copy_cabeceras {
        margin: 0 500px 0 500px; }
  .recursos_bajada {
    grid-area: recursos_bajada;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .recursos_footer {
    grid-area: recursos_footer; }
    .recursos_footer__datos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .recursos_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .blog_body {
    display: grid;
    grid-template-areas: "blog_navegacion" "blog_main" "blog_footer";
    grid-template-columns: 100%; }
  .blog_navegacion {
    grid-area: blog_navegacion; }
  .blog_main {
    grid-area: blog_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .blog_main__contenido {
      display: grid;
      grid-template-areas: "blog_main__contenido--titulo" "blog_main__contenido--copy"; }
      .blog_main__contenido--titulo {
        grid-area: blog_main__contenido--titulo;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; }
      .blog_main__contenido--copy {
        grid-area: blog_main__contenido--copy; }
        .blog_main__contenido--copy h2 {
          font-size: 2rem;
          text-align: center; }
      .blog_main__contenido--ilustracion {
        display: none; }
  .blog_footer {
    grid-area: blog_footer;
    display: grid;
    grid-template-areas: "blog_footer__newsletter" "blog_footer__datos";
    grid-template-columns: 100%; }
    .blog_footer__newsletter {
      grid-area: blog_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .blog_footer__datos {
      grid-area: blog_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .blog_footer__datos--logo {
        width: 30%; }
      .blog_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .blog_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .blog_body {
    display: grid;
    grid-template-areas: "blog_navegacion" "blog_main" "blog_footer";
    grid-template-columns: 100%; }
  .blog_navegacion {
    grid-area: blog_navegacion; }
  .blog_main {
    grid-area: blog_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .blog_main__contenido {
      display: grid;
      grid-template-areas: "blog_main__contenido--titulo blog_main__contenido--titulo blog_main__contenido--titulo blog_main__contenido--titulo" ". blog_main__contenido--copy blog_main__contenido--ilustracion .";
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 60% 40%; }
      .blog_main__contenido--titulo {
        grid-area: blog_main__contenido--titulo;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; }
      .blog_main__contenido--copy {
        grid-area: blog_main__contenido--copy;
        justify-self: center;
        align-self: center; }
        .blog_main__contenido--copy h2 {
          text-align: center; }
      .blog_main__contenido--ilustracion {
        grid-area: blog_main__contenido--ilustracion;
        justify-self: center;
        align-self: center; }
  .blog_footer {
    grid-area: blog_footer;
    display: grid;
    grid-template-areas: "blog_footer__newsletter" "blog_footer__datos";
    grid-template-columns: 100%; }
    .blog_footer__newsletter {
      grid-area: blog_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .blog_footer__datos {
      grid-area: blog_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .blog_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }
