* {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

h1, h2, h3 {
  font-family: "Averia Libre", cursive; }

p, ul li {
  font-family: "Raleway", sans-serif; }

h1, h2, h3, p {
  margin: 20px; }

.fondo_rosa {
  background-color: #F8E7E7; }

.fondo_naranja {
  background-color: #CF6921; }

.fondo_verde {
  background-color: #3C5946; }

.button_verde {
  background-color: #3C5946;
  color: #F8E7E7;
  border-radius: 5px;
  font-family: "Averia Libre", cursive;
  font-size: 25px;
  text-decoration: none;
  padding: 3px 12px 3px 12px; }

.button_amarillo {
  background-color: #EBA94C;
  color: #3C5946;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 12px 3px 12px; }

.titulo_gris {
  font-family: "Averia Libre", cursive;
  font-size: 40px;
  color: #2B292C; }

.titulo_verde {
  font-family: "Averia Libre", cursive;
  font-size: 40px;
  color: #3C5946; }

.titulo_naranja {
  font-family: "Averia Libre", cursive;
  font-size: 40px;
  color: #CF6921; }

.index_branding__foto {
  position: relative;
  display: block;
  float: left; }

.index_branding__contenido {
  position: absolute; }

.servicios_inicio__foto {
  position: relative;
  display: block;
  float: left; }

.servicios_inicio__contenido {
  position: absolute; }

.contacto_main__foto {
  position: relative;
  display: block;
  float: left; }

.contacto_main__contenido {
  position: absolute; }

@media (max-width: 480px) {
  .index_body {
    display: grid;
    grid-template-areas: "sticky-top" "index_branding" "index_about_quienSoy" "index_about_pilares" "index_about_proposito" "index_ultimosPosts" "footer";
    grid-template-columns: 100%; }
  .sticky-top {
    grid-area: sticky-top; }
  .index_branding {
    grid-area: index_branding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .index_about_quienSoy {
    grid-area: index_about_quienSoy;
    display: grid;
    grid-template-areas: "index_about_quienSoy__imagen" "index_about_quienSoy__titulo" "index_about_quienSoy__copy";
    grid-template-columns: 100%; }
    .index_about_quienSoy__titulo {
      grid-area: index_about_quienSoy__titulo; }
    .index_about_quienSoy__copy {
      grid-area: index_about_quienSoy__copy; }
    .index_about_quienSoy__imagen {
      grid-area: index_about_quienSoy__imagen; }
  .index_about_pilares {
    grid-area: index_about_pilares;
    display: grid;
    grid-template-areas: "index_about_pilares__titulo index_about_pilares__titulo" "index_about_pilares__grafico index_about_pilares__copy";
    grid-template-columns: 40% 60%; }
    .index_about_pilares__titulo {
      grid-area: index_about_pilares__titulo; }
    .index_about_pilares__copy {
      grid-area: index_about_pilares__copy; }
    .index_about_pilares__grafico {
      grid-area: index_about_pilares__grafico; }
  .index_about_proposito {
    grid-area: index_about_proposito;
    display: grid;
    grid-template-areas: "index_about_proposito__imagen index_about_proposito__imagen" "index_about_proposito__titulo index_about_proposito__titulo" "index_about_proposito__copy index_about_proposito__copy" "none index_about_proposito__ilustracion";
    grid-template-columns: 60% 40%; }
    .index_about_proposito__titulo {
      grid-area: index_about_proposito__titulo; }
    .index_about_proposito__copy {
      grid-area: index_about_proposito__copy; }
    .index_about_proposito__imagen {
      grid-area: index_about_proposito__imagen; }
    .index_about_proposito__ilustracion {
      grid-area: index_about_proposito__ilustracion; }
  .index_ultimosPosts {
    grid-area: index_ultimosPosts; }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer__newsletter" "footer__datos";
    grid-template-columns: 100%; }
    .footer__newsletter {
      grid-area: footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .footer__datos {
      grid-area: footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .footer__datos--logo {
        width: 40%; }
      .footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .index_body {
    display: grid;
    grid-template-areas: "sticky-top" "index_branding" "index_about_quienSoy" "index_about_pilares" "index_about_proposito" "index_ultimosPosts" "footer";
    grid-template-columns: 100%; }
  .sticky-top {
    grid-area: sticky-top; }
  .index_branding {
    grid-area: index_branding;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .index_about_quienSoy {
    grid-area: index_about_quienSoy;
    display: grid;
    grid-template-areas: "index_about_quienSoy__titulo" "index_about_quienSoy__copy" "index_about_quienSoy__imagen";
    grid-template-columns: 100%; }
    .index_about_quienSoy__titulo {
      grid-area: index_about_quienSoy__titulo; }
    .index_about_quienSoy__copy {
      grid-area: index_about_quienSoy__copy; }
    .index_about_quienSoy__imagen {
      grid-area: index_about_quienSoy__imagen; }
  .index_about_pilares {
    grid-area: index_about_pilares;
    display: grid;
    grid-template-areas: "index_about_pilares__grafico index_about_pilares__titulo" "index_about_pilares__grafico index_about_pilares__copy";
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%; }
    .index_about_pilares__titulo {
      grid-area: index_about_pilares__titulo; }
    .index_about_pilares__copy {
      grid-area: index_about_pilares__copy; }
    .index_about_pilares__grafico {
      grid-area: index_about_pilares__grafico; }
  .index_about_proposito {
    grid-area: index_about_proposito;
    display: grid;
    grid-template-areas: "index_about_proposito__imagen index_about_proposito__imagen" "index_about_proposito__titulo index_about_proposito__titulo" "index_about_proposito__copy index_about_proposito__copy" "none index_about_proposito__ilustracion";
    grid-template-columns: 70% 30%; }
    .index_about_proposito__titulo {
      grid-area: index_about_proposito__titulo; }
    .index_about_proposito__copy {
      grid-area: index_about_proposito__copy; }
    .index_about_proposito__imagen {
      grid-area: index_about_proposito__imagen; }
    .index_about_proposito__ilustracion {
      grid-area: index_about_proposito__ilustracion; }
  .index_ultimosPosts {
    grid-area: index_ultimosPosts; }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer__newsletter" "footer__datos";
    grid-template-columns: 100%; }
    .footer__newsletter {
      grid-area: footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .footer__datos {
      grid-area: footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .servicios_body {
    display: grid;
    grid-template-areas: "servicios_sticky-top" "servicios_inicio" "servicios_bajada" "servicios_agenda" "servicios_bases" "servicios_redes" "servicios_footer";
    grid-template-columns: 100%; }
  .servicios_sticky-top {
    grid-area: servicios_sticky-top; }
  .servicios_inicio {
    grid-area: servicios_inicio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .servicios_bajada {
    grid-area: servicios_bajada; }
  .servicios_agenda {
    grid-area: servicios_agenda;
    display: grid;
    grid-template-areas: "servicios_agenda__foto" "servicios_agenda__titulo" "servicios_agenda__copy";
    grid-template-columns: 100%; }
    .servicios_agenda__foto {
      grid-area: servicios_agenda__foto; }
    .servicios_agenda__titulo {
      grid-area: servicios_agenda__titulo; }
    .servicios_agenda__copy {
      grid-area: servicios_agenda__copy;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; }
  .servicios_bases {
    grid-area: servicios_bases;
    display: grid;
    grid-template-areas: "servicios_bases__titulo" "servicios_bases__copy" "servicios_bases__pasos" "servicios_bases__perfecta" "servicios_bases__incluye" "servicios_bases__boton";
    grid-template-columns: 100%; }
    .servicios_bases__titulo {
      grid-area: servicios_servicios_bases__titulo; }
    .servicios_bases__copy {
      grid-area: servicios_bases__copy; }
    .servicios_bases__pasos {
      grid-area: servicios_bases__pasos; }
    .servicios_bases__perfecta {
      grid-area: servicios_bases__perfecta; }
    .servicios_bases__incluye {
      grid-area: servicios_bases__incluye; }
    .servicios_bases__boton {
      grid-area: servicios_bases__boton; }
  .servicios_redes {
    grid-area: servicios_redes;
    display: grid;
    grid-template-areas: "servicios_redes__titulo" "servicios_redes__copy" "servicios_redes__pasos" "servicios_redes__perfecta" "servicios_redes__incluye" "servicios_redes__boton";
    grid-template-columns: 100%; }
    .servicios_redes__titulo {
      grid-area: servicios_servicios_redes__titulo; }
    .servicios_redes__copy {
      grid-area: servicios_redes__copy; }
    .servicios_redes__pasos {
      grid-area: servicios_redes__pasos; }
    .servicios_redes__perfecta {
      grid-area: servicios_redes__perfecta; }
    .servicios_redes__incluye {
      grid-area: servicios_redes__incluye; }
    .servicios_redes__boton {
      grid-area: servicios_redes__boton; }
  .servicios_footer {
    grid-area: servicios_footer;
    display: grid;
    grid-template-areas: "servicios_footer__newsletter" "servicios_footer__datos";
    grid-template-columns: 100%; }
    .servicios_footer__newsletter {
      grid-area: servicios_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .servicios_footer__datos {
      grid-area: servicios_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .servicios_footer__datos--logo {
        width: 40%; }
      .servicios_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .servicios_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .servicios_body {
    display: grid;
    grid-template-areas: "servicios_sticky-top" "servicios_inicio" "servicios_bajada" "servicios_agenda" "servicios_bases" "servicios_redes" "servicios_footer";
    grid-template-columns: 100%; }
  .servicios_sticky-top {
    grid-area: servicios_sticky-top; }
  .servicios_inicio {
    grid-area: servicios_inicio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .servicios_bajada {
    grid-area: servicios_bajada; }
  .servicios_agenda {
    grid-area: servicios_agenda;
    display: grid;
    grid-template-areas: "servicios_agenda__foto" "servicios_agenda__titulo" "servicios_agenda__copy";
    grid-template-columns: 100%; }
    .servicios_agenda__foto {
      grid-area: servicios_agenda__foto; }
    .servicios_agenda__titulo {
      grid-area: servicios_agenda__titulo; }
    .servicios_agenda__copy {
      grid-area: servicios_agenda__copy;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
  .servicios_bases {
    grid-area: servicios_bases;
    display: grid;
    grid-template-areas: "servicios_bases__titulo servicios_bases__copy" "servicios_bases__pasos servicios_bases__pasos" "servicios_bases__perfecta servicios_bases__perfecta" "servicios_bases__incluye servicios_bases__boton";
    grid-template-columns: 60% 40%; }
    .servicios_bases__titulo {
      grid-area: servicios_servicios_bases__titulo; }
    .servicios_bases__copy {
      grid-area: servicios_bases__copy; }
    .servicios_bases__pasos {
      grid-area: servicios_bases__pasos; }
    .servicios_bases__perfecta {
      grid-area: servicios_bases__perfecta; }
    .servicios_bases__incluye {
      grid-area: servicios_bases__incluye; }
    .servicios_bases__boton {
      grid-area: servicios_bases__boton; }
  .servicios_redes {
    grid-area: servicios_redes;
    display: grid;
    grid-template-areas: "servicios_redes__copy servicios_redes__titulo" "servicios_redes__pasos servicios_redes__pasos" "servicios_redes__perfecta servicios_redes__perfecta" "servicios_redes__incluye servicios_redes__boton";
    grid-template-columns: 40% 60%; }
    .servicios_redes__titulo {
      grid-area: servicios_servicios_redes__titulo; }
    .servicios_redes__copy {
      grid-area: servicios_redes__copy; }
    .servicios_redes__pasos {
      grid-area: servicios_redes__pasos; }
    .servicios_redes__perfecta {
      grid-area: servicios_redes__perfecta; }
    .servicios_redes__incluye {
      grid-area: servicios_redes__incluye; }
    .servicios_redes__boton {
      grid-area: servicios_redes__boton; }
  .servicios_footer {
    grid-area: servicios_footer;
    display: grid;
    grid-template-areas: "servicios_footer__newsletter" "servicios_footer__datos";
    grid-template-columns: 100%; }
    .servicios_footer__newsletter {
      grid-area: servicios_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .servicios_footer__datos {
      grid-area: servicios_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .servicios_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }

@media (max-width: 480px) {
  .contacto_body {
    display: grid;
    grid-template-areas: "contacto_sticky-top" "contacto_main" "contacto_formulario" "contacto_footer";
    grid-template-columns: 100%; }
  .contacto_sticky-top {
    grid-area: contacto_sticky-top; }
  .contacto_main {
    grid-area: contacto_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .contacto_main__contenido {
      display: grid;
      grid-template-areas: "contacto_main__contenido--ilustracion contacto_main__contenido--titulo" "contacto_main__contenido--ilustracion contacto_main__contenido--copy";
      grid-template-columns: 50% 50%; }
      .contacto_main__contenido--titulo {
        grid-area: contacto_main__contenido--titulo; }
      .contacto_main__contenido--copy {
        grid-area: contacto_main__contenido--copy; }
      .contacto_main__contenido--ilustracion {
        grid-area: contacto_main__contenido--ilustracion; }
  .contacto_formulario {
    grid-area: contacto_formulario; }
  .contacto_footer {
    grid-area: contacto_footer;
    display: grid;
    grid-template-areas: "contacto_footer__newsletter" "contacto_footer__datos";
    grid-template-columns: 100%; }
    .contacto_footer__newsletter {
      grid-area: contacto_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .contacto_footer__datos {
      grid-area: contacto_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .contacto_footer__datos--logo {
        width: 40%; }
      .contacto_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; }
        .contacto_footer__datos--contacto img {
          width: 20px; } }

@media (min-width: 481px) {
  .contacto_body {
    display: grid;
    grid-template-areas: "contacto_sticky-top" "contacto_main" "contacto_formulario" "contacto_footer";
    grid-template-columns: 100%; }
  .contacto_sticky-top {
    grid-area: contacto_sticky-top; }
  .contacto_main {
    grid-area: contacto_main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .contacto_main__contenido {
      display: grid;
      grid-template-areas: "contacto_main__contenido--ilustracion contacto_main__contenido--titulo" "contacto_main__contenido--ilustracion contacto_main__contenido--copy";
      grid-template-columns: 50% 50%; }
      .contacto_main__contenido--titulo {
        grid-area: contacto_main__contenido--titulo; }
      .contacto_main__contenido--copy {
        grid-area: contacto_main__contenido--copy; }
      .contacto_main__contenido--ilustracion {
        grid-area: contacto_main__contenido--ilustracion; }
  .contacto_formulario {
    grid-area: contacto_formulario; }
  .contacto_footer {
    grid-area: contacto_footer;
    display: grid;
    grid-template-areas: "contacto_footer__newsletter" "contacto_footer__datos";
    grid-template-columns: 100%; }
    .contacto_footer__newsletter {
      grid-area: contacto_footer__newsletter;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
    .contacto_footer__datos {
      grid-area: contacto_footer__datos;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      .contacto_footer__datos--contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end; } }
